@import "../../../scss//Core.scss";

.summary {
  padding: 40px 30px;
  box-shadow: $default-box-shadow;
  border-radius: $panel-radius;

  .item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &:not(.current-balance) {
      margin-bottom: 20px;
    }

    span {
      color: $light-gray;
      font-weight: 800;
      font-size: 18px;
    }

    .form-control {
      width: 40%;
      text-align: right;
      background-color: transparent;
      margin-bottom: 0;
    }
  }

  .item.total {
    span {
      text-transform: uppercase;
    }

    span:first-of-type {
      color: $dark-gray;
    }

    span:last-of-type {
      color: $primary-color;
    }
  }

  hr {
    border: none;
    height: 1px;
    margin: 20px 0 28px 0;
    background-color: $light-gray;
  }
}
