@import "../../../scss//Core.scss";

.summary {
  padding: 40px 30px;
  box-shadow: $default-box-shadow;
  border-radius: $panel-radius;

  .item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &:not(.current-balance) {
      margin-bottom: 20px;
    }

    span {
      color: $light-gray;
      font-weight: 800;
      font-size: 16px;
    }

    span.currency-wrapper {
      display: contents;

      .currency {
        position: absolute;
        right: 45px;
        margin-top: 6px;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 14px;
        color: $dark-gray;
        font-family: $primary-font-family;
      }

      input {
        padding-right: 45px;

      }
    }

    .form-control {
      width: 40%;
      text-align: right;
      background-color: transparent;
      margin-bottom: 0;
    }

    // Remove arrows from number input field
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
  }

  .item.total {
    span {
      text-transform: uppercase;
    }

    span:first-of-type {
      color: $dark-gray;
    }

    span:last-of-type {
      color: $primary-color;
    }
  }

  hr {
    border: none;
    height: 1px;
    margin: 20px 0 28px 0;
    background-color: $light-gray;
  }
}
