@import "../../../scss/Variables/Fonts";

.deleted-overlay {
  padding-top: 15%;

  img {
    width: 88px;
    height: 98px;
  }

  p {
    text-transform: uppercase;
    font-family: $secondary-font-family;
    font-size: 18px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $dark-blue;
  }

  button {

  }
}
