@import "../../../scss/Core.scss";

.rc-slider-tooltip {

  .rc-slider-tooltip-arrow {
    border-top-color: transparent !important;
  }

  .rc-slider-tooltip-arrow::after {
    content: "";
    background-image: url(/assets/caret_down.svg);
    background-repeat: no-repeat;
    background-size: 30px 34px;
    display: inline-block;
    width: 41px;
    height: 41px;
    margin-left: -16px;
    margin-top: -22px;
    position: absolute;
  }

  .rc-slider-tooltip-inner {
    background-color: $form-label-font-color;
    font-family: $primary-font-family;
    font-size: 14px;
    height: 32px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -35px;
    border-radius: $default-border-radius;
    color: $primary-color;
    box-shadow: unset;
    font-weight: 700;
  }
}

#select-relays {

  h1 {
    text-transform: uppercase;
    font-family: $secondary-font-family;
    color: $form-label-font-color;
    font-size: 30px;
    font-weight: 800;
  }

  h2 {
    text-transform: uppercase;
    font-family: $secondary-font-family;
    color: $title-secondary-color;
    font-size: 18px;
    font-weight: bold;
    line-height: 2.11;
    letter-spacing: -0.49px;
  }

  .subtitle {
    font-family: $primary-font-family;
    color: $dark-gray;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: normal;
    margin-bottom: 0;
  }

  .price-card {

    margin: 0px 10px 10px 0px;
    text-align: center;
    background-color: #515151;
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
    border-radius: 5px;

    p {
      color: white;
      margin-bottom: 0;
    }
  }

  h4.alert-relays {
    text-transform: uppercase;
    font-weight: 800;
  }

  p.alert-relays {
    font-weight: 400 !important;
    font-size: 18px !important;
  }

  .relays-calc {
    display: flex;

    .slider-wrapper {
      height: 228px;
      margin-bottom: 50px;
      display: flex;
      align-items: center;
      flex-grow: 2;
      padding: 60px 40px;
      border-radius: 5px;
      box-shadow: $default-box-shadow;

      .rc-slider-mark-text {
        font-size: 1.5em;
        font-weight: 300;
        font-family: "Lato";

        &:first-of-type {
          margin-top: 10px;
          transform: translateX(0) !important;
        }

        &:last-of-type {
          margin-top: 10px;
          transform: translateX(-58%) !important;
          width: 100%;

        }
      }

      .rc-slider-dot {
        display: none;
      }
    }

    .p-badge {
      margin: 0px 0px 0px 10px;
    }

    .p-badge:last-of-type {
      margin-top: 10px;
    }

    .p-badge h1 {
      font-size: 1.2em;
      font-weight: 300;
    }

    .p-badge p {
      font-weight: bold;
    }
  }
}
