@import "../../../scss/Core.scss";
@import "../../../scss/Variables/Fonts.scss";
@import "../../../scss/Variables/Colors.scss";

html,
body {
  overflow-y: auto;
}

#security-questions-page {
  select {
    margin-bottom: 15px;
    color: $dark-gray;
  }

  select {
    appearance: none;
    background-image: url("/assets/angle-down.svg");
    background-repeat: no-repeat, repeat;
    background-position: right 1.2em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
  }

  /* Hide arrow icon in IE browsers */
  select::-ms-expand {
    display: none;
  }

  h1 {
    font-family: $secondary-font-family;
    font-size: 30px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.82px;
    color: $dark-gray;
  }

  .select {
    height: 33px !important;
  }

  .answer {
    font-family: $primary-font-family;
    font-size: 14px;
    font-weight: 300;
    color: $form-label-font-color;
  }

  .continue-button {
    border-radius: $default-border-radius;

    background-color: $primary-color;
  }

  .continue-button-text {
    font-family: $primary-font-family;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    color: $white-smoke;
  }

  .margin {
    height: 669px;
  }

  option {
    font-family: $primary-font-family;
    font-size: 12px !important;
    color: #282828;
  }

  input.select.from-control {
    margin-bottom: 15px;
  }

  .form-control {
    color: $secondary-color;
    font-weight: 400;
    border: 1px solid $border-blue;
    height: 15px;
    font-size: 12px !important;
    line-height: 20px !important;
    border-radius: 21px;
    margin-bottom: 20px;
    font-family: $primary-font-family;
    background-color: transparent;

    &.is-invalid {
      margin-bottom: 0;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .select-wrapper .text {
    position: absolute;
    z-index: -1;
    margin-top: 8px;
    right: 50px;
    color: $secondary-color;
    font-size: 12px;
  }
}
