@import "../../../scss/Core.scss";

.date-picker {
  .wrapper {
    background-color: transparent;
    color: $light-gray;
    @include bordered-layout;
    padding-left: 35px;
    padding-right: 15px;

    .icon {
      margin-left: 20px;
      color: $primary-color;
    }
  }
}
