@import "../../../scss/Core.scss";

.date-picker {
  .wrapper {
    width: auto;
    background-color: transparent;
    color: $light-gray;
    @include bordered-layout;
    padding: 2px 15px 7px 35px;

    .icon {
      margin-left: 20px;
      color: $primary-color;
    }
  }
}
