@import "../../../scss/Core.scss";

.app-segment {
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 5px;

    .title {
      font-family: $default-segment-font;
      font-size: 18px;
      font-weight: bold;
      line-height: 2.11;
      letter-spacing: -0.49px;
      color: $secondary-color;
      margin-left: 45px;
      text-transform: uppercase;
    }

    .app-dropdown {
      margin-right: 30px;
    }
  }

  .body {
    padding: 5px 0 0 0;
    border-radius: $table-radius;
    margin-bottom: 10px;
  }


  &.scroll .body {
    overflow-x: auto;
    max-height: 60vh;
    padding-bottom: 5px;
  }

  &.bordered .body {
    box-shadow: $default-box-shadow;
  }
}
