@import "../../../scss/Core.scss";

.app-segment {
  margin-top: 40px;

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-family: $default-segment-font;
      font-size: 18px;
      font-weight: bold;
      line-height: 2.11;
      letter-spacing: -0.49px;
      color: $secondary-color;
      margin-left: 21px;
      text-transform: uppercase;
    }

    h2 {
      margin-bottom: 0;
    }

    .app-dropdown {
      margin-right: 30px;
    }
  }

  .body {
    margin-top: 5px;
  }


  &.scroll .body {
    overflow-x: auto;
    max-height: 60vh;
    padding-bottom: 5px;
  }

  &.bordered .body {
    box-shadow: $default-box-shadow;
  }
}
