@import "../../../scss/Core";

.payment-history {
  .filters {
    display: flex;
    justify-content: space-around;

    .filter {
      margin-right: 20px;

      p {
        margin-bottom: 0;
        font-size: 1.2em;
        margin-right: 10px;
      }
    }

    .filter.search {
      flex-grow: 2;
    }
  }

  .label-text {
    font-weight: 700;
    margin-top: 10px;
    margin-right: 15px;
    color: $primary-color;
  }

  .export {
    cursor: pointer;
    color: $primary-color;
  }

  .export:active {
    color: $primary-color-darker;
  }
}
