@import "../../../scss/Core.scss";

.rc-slider-tooltip {
  .rc-slider-tooltip-arrow {
    border-top-color: transparent !important;
  }

  .rc-slider-tooltip-arrow::after {
    content: "";
    background-image: url(/assets/caret_down.svg);
    background-repeat: no-repeat;
    background-size: 15px 30px;
    display: inline-block;
    width: 15px;
    height: 30px;
    margin-left: -7px;
    margin-top: -22px;
    position: absolute;
  }

  .rc-slider-tooltip-inner {
    background-color: $form-label-font-color;
    font-family: $primary-font-family;
    font-size: 14px;
    font-weight: 400;
    height: 32px;
    line-height: 30px;
    padding: 0 20px;
    margin-top: -35px;
    border-radius: $default-border-radius;
    color: $primary-color;
    box-shadow: unset;
  }
}

#purchase {
  .title-page {
    padding: 0;
  }

  h1 {
    text-transform: uppercase;
    font-family: $secondary-font-family;
    color: $form-label-font-color;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 0;
  }

  h2 {
    text-transform: uppercase;
    font-family: $secondary-font-family;
    color: $title-secondary-color;
    font-size: 18px;
    font-weight: bold;
    line-height: 2.11;
    letter-spacing: -0.49px;
    margin-bottom: 0;
  }

  .subtitle {
    font-family: $primary-font-family;
    color: $dark-gray;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 0;
  }

  .relays-column,
  .order-summary-column {
    margin-top: 30px;
  }

  .relays-column {
    padding-left: 0;
    padding-right: 9px;
  }

  .order-summary-column {
    padding-left: 9px;
    padding-right: 0;
  }

  .price-card {
    margin: 0px 10px 10px 0px;
    text-align: center;
    background-color: #515151;
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
    border-radius: 5px;

    p {
      color: white;
      margin-bottom: 0;
    }
  }

  .slider-wrapper {
    height: 228px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    flex-grow: 2;
    padding: 0 40px;
    border-radius: $panel-radius;
    box-shadow: $default-box-shadow;

    .slider-container {
      width: 100%;
    }

    .rc-slider-rail {
      border-radius: $panel-radius;
    }

    .rc-slider-mark-text {
      font-size: 0.875rem;
      font-family: "Lato";
      font-weight: 300;

      .average-stake-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &:first-of-type {
        margin-top: 10px;
        transform: translateX(0) !important;
      }

      &:last-of-type {
        margin-top: 10px;
        transform: translateX(-52%) !important;
      }
    }

    .rc-slider-mark-text:last-of-type {
      margin-left: -42px;
      width: 100%;
    }

    .rc-slider-dot {
      display: none;
    }

    .p-badge {
      margin: 0px 0px 0px 10px;
    }

    .p-badge:last-of-type {
      margin-top: 10px;
    }

    .p-badge h1 {
      font-size: 1.2em;
      font-weight: 300;
    }

    .p-badge p {
      font-weight: bold;
    }
  }

  .max-alert {
    padding: 25px 15px 20px 30px;

    h4 {
      font-weight: 800;
      text-transform: uppercase;
      line-height: normal;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px !important;
      font-weight: 400 !important;
      line-height: normal;
    }
  }
}
