@import "../../../../../scss/Variables/DefaultLayout";

.notifications {
  .badge {
    background-color: $badge-background-color;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    position: relative;
    top: -8px;
    right: 13px;
  }

  .dropdown-item {
    display: flex;
    align-items: center;
  }
}

.notification {
  margin-left: 15px;

  p {
    margin-bottom: 0;
  }
}
