@import "../../../scss/Core.scss";
@import "../../../scss/Variables/Fonts.scss";
@import "../../../scss/Variables/Colors.scss";

#answer-security-questions-page {
  #main {
    margin: 0 auto;
    width: 600px;

    #email-label {
      font-family: $primary-font-family;
      font-size: 16px;
      font-weight: 300;
      color: $form-label-font-color;
    }
  }

  .forgotPassword {
    font-family: $secondary-font-family;
    font-size: 30px;
    font-weight: 800;
    color: $dark-gray;
    text-transform: uppercase;
  }

  .passwordLabel {
    font-family: $primary-font-family;
    font-size: 16px;
    font-weight: 300;
    color: $dark-gray;
  }

  .emailInput {
    border-radius: 21px;
  }

  .resetButton {
    border-radius: 25px;
    background-color: $primary-color;
  }

}
