@import "../../../scss/Core.scss";

#app-detail {
  .head {
    h1 {
      color: $primary-color;
    }
  }

  .name {
    margin-bottom: 0;
  }

  .info-section:last-of-type {
    margin-top: 50px;
  }

  .title-page {
    color: $dark-gray;

    h2 {
      font-weight: 700;
      display: inline;
    }
  }

  .unstaking-time {
    margin-top: 5px;
    font-size: 0.75em;
    font-weight: 400;
    text-transform: uppercase;
  }

  .cta {
    margin-top: -5px;
  }

  .app-table {
    box-shadow: $default-box-shadow;

    th {
      font-weight: 700;
      font-size: 1.2em;
    }
  }

  .contact {
    h2 {
      color: $dark-gray !important;
      font-size: 24px;
      text-transform: uppercase;
      font-family: "Open Sans";
    }
  }

  .contact-info>.free-tier:first-of-type {
    .contact {
      box-shadow: none;
    }
  }

  .owner {
    color: #000;
    margin-left: 2px;
    font-weight: 800;
  }

  .description {
    font-weight: 300;
  }

  .head {
    display: flex;
    align-items: center;

    img {
      height: 70px;
      width: 70px;
      border-radius: 50%;
      box-shadow: 0 0 10px rgba(33, 33, 33, 0.25);
    }

    .info {
      .badge {
        font-size: 0.4em;
        padding: 10px;
        font-weight: 400;
        color: $dark-gray;
      }
    }
  }

  #aat-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      display: flex;

      p {
        font-weight: bold;
        margin-top: 5px;
        margin-left: 10px;
        margin-bottom: 0;
      }
    }
  }

  .aat-code {
    pre {
      display: flex;
      justify-content: space-between;
      padding: 15px;

      code {
        font-family: "Lato";
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5);
      }
    }

    p {
      align-self: flex-start;
      cursor: pointer;
      font-weight: bold;
      font-size: 1.1em;
      color: rgba(0, 0, 0, 0.5);
    }

    p:active {
      color: #000000;
    }
  }

  .action-buttons {
    .option {
      .icon {
        width: 1.8%;
        margin-right: 5px;
      }
    }

    a,
    p {
      display: inline;
      font-weight: 300;
      font-size: 18px;
    }

    p {
      margin-right: 10px;
    }

    .link {
      color: $primary-color;
    }
  }

  .contact-info {
    h1 {
      font-size: 2em;
    }
  }
}
