@import "../../../scss/Core.scss";

#app-detail {
  .name {
    margin-bottom: 0;
  }

  .info-section:last-of-type {
    margin-top: 50px;
  }

  h3 {
    color: #000000;
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 15px;
  }

  .owner {
    font-size: 1em;
    color: $primary-color;
    margin-left: 2px;
  }

  .description {
    font-weight: 300;
  }

  .head {
    display: flex;
    align-items: center;

    img {
      height: 70px;
      width: 70px;
      border-radius: 50%;
      box-shadow: 0 0 10px rgba(33, 33, 33, 0.25);
    }

    .info {
      .badge {
        font-size: 0.4em;
      }
    }
  }

  #aat-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      display: flex;

      p {
        font-weight: bold;
        margin-top: 5px;
        margin-left: 10px;
        margin-bottom: 0;
      }
    }
  }

  .aat-code {
    pre {
      display: flex;
      justify-content: space-between;
      padding: 15px;

      code {
        font-family: "Lato";
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5);
      }
    }

    p {
      align-self: flex-start;
      cursor: pointer;
      font-weight: bold;
      font-size: 1.1em;
      color: rgba(0, 0, 0, 0.5);
    }

    p:active {
      color: #000000;
    }
  }

  .action-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    button,
    a {
      font-weight: bold;
    }
  }

  .react-bootstrap-table {
    overflow-y: hidden;
    max-height: 55vh;
    overflow-y: scroll;
  }

  .contact-info {
    h1 {
      font-size: 2em;
    }
  }
}
