// Primary colors
$primary-color: #27a9e0;
$primary-color-darker: #1e95c8;
$dark-blue: #06202e;

// Secondary-colors
$secondary-color: #474747;
$dark-gray: #474747;
$light-gray: #afafaf;
$white-smoke: #f5f5f5;
$border-blue: #25a9e0;

// Others
$error: #ff0000;
$alert: #ffbf02;

// Forms
$form-label-font-color: #06202e;


// Titles
$title-primary-color: $dark-blue;
$title-secondary-color: $dark-gray;


