@import "Fonts";
@import "Others";

$default-layout-item-padding-left: 50px;
$default-layout-item-padding-right: 50px;

// Navbar
$navbar-padding: 24px $default-layout-item-padding-right 24px $default-layout-item-padding-left;
$navbar-color: #ffffff;
$badge-background-color: #06202E;
$app-name-color: #515151;

$main-logo-size: (
  width: 100px,
  height: 41px
);

$item-size: (
  width:32px,
  height:32px
);


$user-login-font: (
  color: #282828,
  font-family: $default-font-family,
  weight: normal,
  size: 12px
);


@mixin app-name {
  @include font-style($app-title-font);
  color: $app-name-color;
  text-align: center;
}
