$default-layout-item-margin-left: 6%;

// Navbar
$panel-padding-left: 2.5%;
$panel-padding-right: 2%;
$badge-background-color: #06202E;
$app-name-color: #515151;

$item-size: (
  width:35px,
  height:40px
);

$main-logo-size: (
  width: 25%,
  height: 10%
);

@mixin app-name {
  color: $app-name-color;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 11px;
  text-align: center;
}
