@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import "Colors";

$primary-font-family: Lato, san-serif;
$secondary-font-family: "Open Sans";

$default-segment-font: $secondary-font-family;

$table-header-font-family: $secondary-font-family;
$table-data-font-family: $primary-font-family;

$title-font: (
  font-family: "Open Sans"
);

$paragraph-font: (
  font-family: $primary-font-family,
  weight: 400,
  color: $dark-gray
);

$app-title-font: (
  font-family: $primary-font-family,
  weight: 300,
  size: 16px
);

@mixin font-style($type) {
  font-family: map_get($type, font-family);
  font-weight: map_get($type, weight);
  font-size: map_get($type, size);
}

