@import "Core";

.auth-page {
  #sidebar {
    height: 100vh;

    h2 {
      font-size: 30px;
      margin-bottom: 1em;
    }
  }

  .form-control,
  .invalid-feedback {
    min-width: 400px;
  }

  #sidebar {
    min-width: 435px;
    background-image: url("/assets/auth-sidebar.png");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #logo-white {
    width: 55%;
    margin-top: 40px;
    margin-left: 50px;
  }

  .content {
    p {
      color: #474747;
    }

    a {
      color: #25a9e0;
    }

    p,
    a {
      font-weight: 300;
      font-size: 14px;
    }

    .change {
      margin-top: 50px;
      margin-bottom: 8rem;
      margin-right: 30px;
      display: flex;
      justify-content: flex-end;
    }

    .help {
      padding-top: 20px;
      padding-left: 90%;
    }

    div.main {
      h2 {
        text-transform: uppercase;
        font-size: 2.5em;
        font-weight: 700;
        margin-bottom: 2.5rem;
      }

      #main-form {
        min-width: 425px;

        .divider {
          font-size: 14px;
          line-height: normal;
        }

        .form-group {
          margin-bottom: 20px;

          &.password {
            .form-control {
              margin-bottom: 0;
            }
          }
        }
      }

      #provider-buttons {
        min-width: 192px;
        display: flex;
        justify-content: space-between;

        * {
          margin-top: 5px;
          margin-bottom: 5px;
        }

        .brand svg {
          margin: 0;
        }

        button {
          img {
            height: 20px;
            margin-right: 10px;
          }

          font-size: 14px;
          border-radius: 31px;
        }
      }
    }
  }

  .auth-scroll {
    height: 100vh;
    overflow: auto;
  }
}
