.notifications {
  .badge {
    font-size: 0.7em;
    position: relative;
    top: -18px;
    right: 0;
    left: 40px;
    bottom: 0;
  }

  .dropdown-item {
    display: flex;
    align-items: center;
  }
}

.notification {
  margin-left: 15px;

  p {
    margin-bottom: 0;
  }
}
