@import "../../../scss/Core";

.center {
  padding: 0rem 1rem !important;
}

.inputControl {
  height: 34px;
  border-radius: $default-border-radius;
  border-style: solid;
  border-width: 1px;
}

.inputButton {
  height: 32px;
}

.providerButton {
  width: 195px !important;
  height: 32px !important;
  border-radius: 31px;
  background-color: $dark-gray;
}
