@import "../../../scss/Variables/DefaultLayout";

.default-layout {
  max-height: calc(100vh - 80px);
  overflow-x: hidden;
  padding: 0 42px 0 $default-layout-item-padding-left !important;

  .default-layout-wrapper {
    width: calc(100% + 8px);
  }

  .default-layout-footer {
    height: 3em;
  }
}
