@import "../../../scss/Core";

.app-main {
  .page-title {
    h1 {
      color: $title-secondary-color;
    }
  }

  .stats {
    margin-top: 2.5rem;

    .info-card-column {
      padding: 0 9px;
      &:first-child {
        padding-left: 0;
      }
    }
  }

  .cta-buttons {
    .create-app-button {
      background-color: $dark-gray;
      border-color: $dark-gray;
      width: 140px;

      &.btn-primary {
        &:active {
          background-color: $dark-gray;
          border-color: $dark-gray;
        }
      }
    }

    .import-app-button {
      width: 115px;
    }
  }

  .app-table {
    &.loading {
      margin-bottom: 20px;
    }
  }

  .app-tables {
    .search-panel {
      margin-top: 20px;
      margin-bottom: -10px;

      button {
        width: 30px;

        img {
          left: -12px;
        }
      }
    }

    .search-panel-without-apps {
      display: none;
    }

    .my-apps-segment {
      padding: 0 9px;

      &:first-child {
        padding-left: 0;
      }

      .app-segment {
        .head {
          h2 {
            margin-left: 28px;
          }
        }

        .body {
          overflow-x: hidden;
        }
      }
    }
  }
}
