@import "../../../scss/Core";

.app-main {

  .page-title {
    h1 {
      color: $title-secondary-color;
    }
  }

  .stats {
    margin-left: -25px;

    .p-badge {
      height: 100px;
    }

  }

  .cta-buttons {
    margin-left: -20px;
    margin-bottom: 20px;

    .create-app-button {
      background-color: $dark-gray;
      border-color: $dark-gray;
      width: 140px;
    }

    .import-app-button {
      width: 115px;
    }
  }


  .app-tables {
    margin-left: -25px;
    margin-top: -30px;

    .search-panel {
      margin-top: 20px;
      margin-bottom: -10px;

      button {
        width: 30px;

        img {
          left: -12px;
        }
      }
    }

    .search-panel-without-apps {
      display: none;
    }

    .app-segment {
      .head {
        margin-bottom: -10px;
      }
    }

    .my-apps-segment {
      .app-segment {
        .head {
          h2 {
            margin-left: 28px;
          }
        }

        .body {
          overflow-x: hidden;
        }
      }
    }
  }
}
