#order-summary {
  .payment-method {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(90, 90, 90, 0.1);

    .card-display {
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: unset;
    }

    .custom-radio {
      align-self: center;
      margin-bottom: 20px;
    }
  }

  .payment-method:last-of-type {
    border-bottom: unset;
  }

  .payment-container {
    margin-left: 25px;
    margin-bottom: 4em;
  }
}
