#app-navbar {
  padding-top: 10px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  >* {
    margin-right: 20px;
  }

  >:last-child {
    margin-right: 50px;
  }

}
