@import "../../../scss/Core.scss";

.choose-chains {
  .page-title {
    margin-top: 15px;
    padding-right: 0;

    h2 {
      font-family: $secondary-font-family;
      color: $title-secondary-color;
      font-size: 22px;
      font-weight: bold;
      line-height: 1.73;
      letter-spacing: -0.6px;
    }

    p {
      font-size: 16px;
      font-weight: 300;
      line-height: normal;
    }
  }

  .app-segment {
    margin-top: 10px;

    .search-panel {
      margin-left: 36px;
      margin-right: 36px;

      .search-input {
        margin-top: 15px;
      }

      button {
        width: 30px;
      }
    }

    .body {
      padding-left: 0;
      padding-bottom: 0;

      .app-table {
        box-shadow: none;

        thead {
          margin-left: 0;
        }

        tbody {
          padding-left: 0;
          max-height: calc(454px - 52px);
        }
      }
    }
  }

  .service-url-label {
    font-size: 16px;
  }
}
