.app-dropdown {
  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  button:hover,
  button {
    border-color: rgb(32, 141, 188);
    background-color: transparent;
  }
}
