#free-tier {
  h1 {
    font-size: 2em;
    margin-bottom: 40px;
  }

  #restrictions {
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }

  .more {
    font-size: 1.2em;
  }

  button {
    padding-left: 80px;
    padding-right: 80px;
  }
}
