@import "../../../scss/Core.scss";

.dropzone {
  width: 0;
  cursor: pointer;

  @media(max-width: 1400px) {
    margin-top: 10px;
  }

  &:focus {
    outline: none;
  }

  .drop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media(max-width: 1400px) {
      img.icon {
        margin-top: 4px;
        width: 30px !important;
        height: 30px !important;
      }
    }

    img.icon {
      margin-top: 8px;
      width: 45px;
      height: 45px;
    }

    p {
      text-align: center;
      color: $primary-color;
      font-family: $primary-font-family;
      font-size: 12px;
      line-height: 1.3;

      span.alt {
        color: $light-gray;
      }
    }
  }

  @media(max-width: 1400px) {
    .drop.drop-border {
      width: 60px !important;
      height: 60px !important;
      border: solid 2px $primary-color;
      border-radius: 50%;

      &:focus {
        outline: none;
      }
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .drop.drop-border {
    width: 80px;
    height: 80px;
    border: solid 2px $primary-color;
    border-radius: 50%;

    &:focus {
      outline: none;
    }
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}
