@import "../../../scss/Core.scss";

.dropzone {
  width: 0;
  cursor: pointer;

  .drop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img.icon {
      margin-top: 20px;
      width: 45px;
      height: 45px;
    }

    p {
      text-align: center;
      color: $primary-color;
      font-family: $primary-font-family;
      font-size: 12px;
      line-height: 1.3;

      span.alt {
        color: $light-gray;
      }
    }
  }

  .drop.drop-border {
    width: 150px;
    height: 150px;
    border: solid 2px $primary-color;
    border-radius: 50%;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}
