@import "../../../../scss/Variables/DefaultLayout";


.sidebar-menu {
  margin-top: 52px;
  padding-left: 0;
  width: 100%;

  a {
    padding-left: $default-layout-item-padding-left;
    display: block;

    li {
      height: 55px;
      padding: 20px 0;
      margin-bottom: 28px;
      list-style: none;

      display: flex;
      align-items: center;

      img {
        width: map_get($menu-icon-size, width);
        height: map_get($menu-icon-size, height);
        margin-right: 10px;
      }

      span {
        @include font-style($menu-item-font);
        color: map_get($menu-item-font, color);
        text-transform: uppercase;
        letter-spacing: -0.38px;
      }
    }
  }


  a:hover {
    background-color: $menu-item-hover-color;
    text-decoration: none;
  }

  .active {
    background-color: $menu-item-active-color;
    outline: none;
  }
}

.app-sidebar-footer {
  position: absolute;
  bottom: 10px;
  margin: 0 auto;
  width: 100%;

  div.footer {

    span.footer-copyright {
      font-family: $primary-font-family;
      color: white;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: -0.38px;
    }
  }
}
