@import "../../../scss/Variables/Fonts";

.create-form {
  .page-title {
    .info {
      line-height: 1.5;
      letter-spacing: normal;
      margin-bottom: 2.5rem;
    }
  }

  .create-form-left-side {
    padding: 0;

    button {
      margin-top: 35px;
    }
  }

  p.info {
    margin-bottom: 20px;
  }

  .create-form-right-side {
    padding: 35px 150px 0 72px;

    .container {
      padding: 0;
    }
  }

  .legal-info {
    margin-top: 50px;
    max-width: 410px;
    font-family: $primary-font-family;
    font-size: 12px;
    font-weight: 300;
    color: $secondary-color;

    strong {
      font-weight: bold;
    }

    ul {
      padding-inline-start: 15px;
      margin-bottom: 0;

    }

    ul > li {
      font-weight: 300;
      margin-bottom: 14px;
    }

    .legal-info-check {
      margin-left: 5px;

      p,
      span,
      a {
        font-family: $primary-font-family;
        color: $secondary-color;
        font-size: 14px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
      }

      a {
        color: $primary-color;
      }

      .form-check {
        padding-left: 15px;
      }
    }
  }
}
