@import "../../../scss/Variables/Fonts";

.create-form {

  button {
    span {
      left: -22px;
    }
  }

  .create-form-right-side {
    margin-top: 10px;
  }

  .create-form-left-side {
    padding-left: 0;
  }

  .legal-info {
    margin-top: 60px;
    font-family: $primary-font-family;
    font-size: 12px;
    font-weight: 300;
    color: $secondary-color;

    strong {
      font-weight: bold;
    }

    ul > li {
      margin-bottom: 15px;
      font-weight: 300;
    }

    .legal-info-check {
      display: inline-flex;
      width: 100%;

      label, a {
        font-family: $primary-font-family;
        font-size: 14px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;

      }

      label {
        color: $secondary-color;
        width: 350%;
      }

      a {
        margin-top: 4.5px;
        margin-left: 150px;
      }

      .form-check {
        padding-left: 45px;
      }
    }
  }

}
