#create-form {
  h1 {
    font-size: 2em;
    font-weight: 800;
  }

  .info {
    font-size: 1.2em;
    font-weight: 300;
    ;
  }

  .legal-info {
    max-width: 600px;

    ul>li {
      margin-bottom: 10px;
      font-weight: 300;
    }

    .form-check {
      padding-left: 45px;

      .custom-control-label {
        font-weight: 300;
      }
    }
  }

}
