@import "Core";

.auth-page {
  h2 {
    font-size: 30px;
    margin-bottom: 1em;
  }

  #sidebar {
    height: 100vh;
  }

  .form-group.password {
    margin-bottom: 0.5em;
  }

  .invalid-feedback {
    font-size: 16px;
    font-weight: bold;
  }

  #sidebar.col-lg-3.col-sm-3.col-4 {
    flex: 1 0 25%;
    max-width: 30%;
    background: url("/assets/auth-sidebar.png");
    background-size: cover;
  }

  #logo-white {
    width: 28%;
    margin-top: 30px;
    margin-left: 40px;
  }

  .content {

    p,
    a {
      font-weight: 300;
      font-size: 1.1em;
    }

    background: theme-color("light");

    .change {
      margin-top: 50px;
      margin-bottom: 20vh;
      margin-right: 30px;
      display: flex;
      justify-content: flex-end;
    }

    .help {
      padding-top: 20px;
      padding-left: 90%;
    }

    div.main {
      h2 {
        text-transform: uppercase;
      }

      #provider-buttons {
        display: flex;
        justify-content: space-between;

        * {
          margin-top: 5px;
          margin-bottom: 5px;
        }

        .brand svg {
          margin: 0;
        }

        button {
          font-size: 17px;
        }

      }
    }
  }
}
