@import "Core";

.auth-page {
  .content {
    p,
    a {
      font-weight: 300;
      font-size: 1.1em;
    }

    background: theme-color("light");

    .change {
      margin-top: 50px;
      margin-bottom: 50px;
      margin-right: 30px;
      display: flex;
      justify-content: flex-end;
    }

    .help {
      padding-top: 20px;
      padding-left: 90%;
    }

    div.main {
      h2 {
        text-transform: uppercase;
      }

      #provider-buttons {
        * {
          margin-top: 5px;
          margin-bottom: 5px;
        }

        .brand svg {
          margin: 0;
        }
      }

      #main-form {
        div:last-child {
          margin-top: 10px;
          text-align: center;
        }
      }
    }
  }
}
