@import "Variables/All";
@import "node_modules/bootstrap/scss/bootstrap";

@mixin bordered-layout {
  border: 2px solid $primary-color;
  padding: 10px 30px 7px 30px;
  border-radius: $default-border-radius;
}

// TODO: Review these values.
// Headers
@for $i from 1 through 6 {
  h#{$i} {
    @include font-style($title-font);
  }
}

@for $i from 2 through 6 {
  h#{$i} {
    color: $primary-color;
  }
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.page-title {
  padding-left: 0;

  h1,
  h2,
  h3,
  h4 {
    text-transform: uppercase;
  }

  h1 {
    font-weight: 800;
    font-size: 30px;
    line-height: 1.27;
    letter-spacing: -0.82px;
    color: $title-primary-color;
    margin-bottom: 0;
  }

  h2 {
    font-family: $primary-font-family;
    font-size: 21px;
    font-weight: 900;
    color: $title-primary-color;
  }

  p {
    font-family: $primary-font-family;
    font-size: 18px;
    font-weight: 300;
    color: $secondary-color;
  }

  .info {
    font-family: $primary-font-family;
    font-weight: 300;
    font-size: 16px;
    line-height: 2.38;
    letter-spacing: -0.44px;
    color: $secondary-color;
  }
}

// Paragraphs, Labels, Links
label,
p,
a,
li {
  @include font-style($paragraph-font);
}

a {
  color: $primary-color;
}

html,
body {
  height: 100%;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  border-radius: $default-border-radius;
  font-family: "Lato", sans-serif;
  line-height: 30px;
  padding: 0 !important;

  span {
    display: flex;
    align-items: center;
    line-height: 30px;
  }

  &:focus {
    box-shadow: none;
  }
}

.btn.dropdown-toggle-split {
  width: 10px !important;
}

form {
  textarea {
    resize: none;
    max-height: 120px;
    border-radius: $panel-radius;
  }
}

.payment-input {
  border-color: $primary-color !important;
  border-radius: $default-border-radius !important;
}

.input-group {
  input.form-control {
    border-color: $primary-color !important;
    border-top-left-radius: $default-border-radius;
    border-bottom-left-radius: $default-border-radius;
  }
}

.input-group-append {
  button {
    min-width: auto;
  }
}

.btn-primary,
.btn-outline-primary {
  border-color: $primary-color;
}

.btn-primary {
  background-color: $primary-color;

  &:focus {
    box-shadow: none;
  }
}

.btn-link {
  color: $primary-color;
}

.btn-link:hover {
  color: $primary-color-darker;
  text-decoration: none;
}

.btn-outline-primary:hover,
.btn-primary:hover,
.btn-outline-primary:focus,
.btn-primary:focus,
.btn-outline-primary:active,
.btn-primary:active,
.show>.btn-primary.dropdown-toggle,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: $primary-color-darker;
  border-color: $primary-color-darker;

  &:focus {
    box-shadow: none;
  }
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: $light-gray;
  background-color: $white-smoke;
  border-color: $white-smoke;

  &:hover {
    cursor: unset;
  }
}

.btn-dark {
  background-color: $secondary-color;
  border-color: $secondary-color;

  &:hover {
    background-color: $secondary-color;
  }
}

.btn-dark:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}

input {
  border-radius: $default-border-radius;
}

.alert {
  width: 100%;
  min-height: 40px;
  font-family: $secondary-font-family;
  box-shadow: $default-box-shadow;
  background-color: #07212f;
  padding: 0 20px 0 24px;
  border-color: $dark-blue;
  color: white;
  border-radius: 10px;

  &.alert-primary {
    button {
      height: 100%;
      padding: 0 !important;
    }
  }

  button.close {
    span {
      position: absolute;
      top: 0;
      right: 18px;
      color: white;
      font-size: 1.5em;
      font-weight: 300;
    }

    &:focus {
      outline: none;
    }
  }

  h4 {
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  p {
    font-weight: 700 !important;
    font-size: 1.2em !important;
    margin-bottom: 0;
  }

  .head {
    display: flex;
    align-items: center;
  }

  .icon {
    min-width: 40px;
    min-height: 40px;
    max-width: 140px;
    max-height: 140px;
    margin-right: 5px;
  }
}

.alert.alert-light {
  background-color: $white-smoke;
  border-color: $white-smoke;
  color: $dark-gray;
  border-radius: 25px;
  padding: 10px 30px;
  font-family: $primary-font-family;
  font-weight: 300;
}

.alert.alert-danger {
  @for $i from 1 through 6 {
    h#{$i} {
      font-weight: bold;
      color: $error;
    }
  }
}

.alert.alert-warning {
  @for $i from 1 through 6 {
    h#{$i} {
      font-weight: bold;
      color: $alert;
    }
  }
}

.alert.alert-primary {
  @for $i from 1 through 6 {
    h#{$i} {
      font-weight: bold;
      color: $primary-color;
    }
  }

  button {
    min-width: unset;
    padding: 0.2em 1.25rem;
  }

  button:hover {
    color: white;
  }

  .alert-heading {
    font-size: 1em;
    font-weight: 300;
    font-family: "Lato", sans-serif;
  }
}

.form-row {
  margin-right: 0;
  margin-left: 0;
}

.form-group {
  margin-bottom: 0;
}

.form-control {
  border: 1px solid $border-blue;
  height: 32px;
  font-size: 0.875rem;
  font-weight: 300;
  color: $dark-gray;
  line-height: 32px;
  border-radius: 21px;
  margin-bottom: 0.8rem;

  &:focus {
    box-shadow: none;
  }
}

label.form-label {
  font-family: $primary-font-family;
  font-size: 14px;
  font-weight: 300;
  color: $form-label-font-color;
  margin-bottom: 10px;

  .has-error {
    color: #ff0000;
  }
}

textarea.form-control {
  border-radius: $panel-radius;
}

.badge,
.badge-primary {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 300;
}

.badge.badge-primary {
  background-color: $primary-color;
}

#sidebar,
#content {
  min-height: calc(100vh - 80px);
}

#sidebar {
  background: $gradient;
  color: color(white);
  padding: 0;

  #title {
    margin-top: 50px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}

button {
  height: 32px;
  width: 105px;

  span {
    font-family: $primary-font-family;
    font-size: 12px;
  }

  &:focus {
    box-shadow: none;
  }

  &:focus {
    box-shadow: none;
  }
}

.app-table {
  margin-bottom: 0;
  box-shadow: $default-box-shadow;
  border-radius: $table-radius;

  thead {
    text-transform: uppercase;
    color: black;
    height: 50px;
    margin: 0 22px;

    th {
      margin-top: -10px;
      border-top-color: transparent;
      border-bottom: $border-bottom;
      font-family: $table-header-font-family;
      color: $table-header-font-color;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: -0.33px;
      padding-bottom: 14px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    th[class^="col-"]:last-child {
      padding-left: 22px;
    }

    th:focus {
      outline: none;
    }
  }

  tbody {
    padding: 0 22px 0 22px;

    tr {
      color: gray;
    }

    td {
      border-top-color: transparent;
      border-bottom: $border-bottom;
      font-family: $table-data-font-family;
      font-size: $table-data-font-size;
      color: $table-data-font-color;
      font-weight: 300;
      letter-spacing: -0.33px;
      overflow-wrap: anywhere;

      &:first-child {
        padding-left: 0;
      }

      input[type="checkbox"] {
        top: 2px;
      }
    }

    td[class^="col-"]:last-child {
      padding-left: 22px;
    }
  }

  &.scroll {

    thead,
    tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    thead {
      width: calc(100% - 42px);
    }

    tbody {
      width: calc(100% - 16px);
      display: block;
      height: auto;
      max-height: calc(325px - 52px);
      overflow: auto;
      padding-right: 4px;

      td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &.has-scroll {
    thead {
      width: calc(100% - 50px);
    }

    tbody {
      width: calc(100% - 8px);
    }
  }

  &.has-checkbox {
    thead {
      width: calc(100% - 28px);
    }

    input[type="checkbox"] {
      margin-left: -24px;
      width: 18px;
      height: 18px;
    }

    .selection-cell-header {
      padding: 0;
      width: 36px;
      border-bottom-color: transparent;

      input[type="checkbox"] {
        bottom: 14px;
        left: 37px;

        &:before {
          height: 72%;
        }
      }
    }

    .selection-cell {
      padding-left: 37px;
      padding-right: 0px;
      padding-top: 10px;
      width: 1px;
      border-bottom-color: transparent;
    }

    tbody tr td:nth-of-type(2),
    th:nth-of-type(2) {
      padding-left: 0px;
    }
  }

  &.hide,
  &.empty {
    thead {
      text-transform: uppercase;
      color: black;

      th {
        border-bottom: none;
        border-top-color: transparent;
      }
    }

    .show-icon {
      .icon {
        transform: rotate(0);
      }
    }

    tbody {
      visibility: hidden;
      display: absolute;
      height: 0px;
    }
  }

  &.flex-body {
    thead tr {
      padding-top: 13px;
    }

    tbody {
      tr {
        display: flex;
      }
    }
  }

  .show-icon {
    .icon {
      width: 10px;
      cursor: pointer;
      transform: rotate(180deg);
    }
  }
}

.segment-table-empty {
  .body {
    height: 60px;
  }
}

.main-list {
  a:hover {
    text-decoration: none;
  }
}

// Spinner Loader
.pocket-loader {
  margin-top: 25%;
  margin-left: 45%;
}

.order-by {
  display: flex;
  align-items: baseline;

  p {
    margin-right: 15px;
  }
}

.empty-overlay {
  height: 42vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

  img {
    width: 132px;
    height: 105px;
    margin-bottom: 17px;
  }

  p {
    text-transform: uppercase;
    font-family: $secondary-font-family;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    color: #06202e;
  }
}

.modal {
  background-color: rgba(6, 32, 46, 0.6);
}

.modal-dialog {
  .modal-content {
    background-color: $dark-blue;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }

  .modal-title,
  .modal-content h4 {
    text-transform: uppercase;
    font-family: $secondary-font-family;
    color: $primary-color;
    font-size: 22px;
    font-weight: 800;
    line-height: 1;
  }

  .close {
    opacity: 1;
    color: white;

    span {
      font-size: 25pt;
      font-weight: lighter;
    }
  }

  .modal-header {
    border-bottom: 0;
  }

  .modal-footer {
    border-top: 0;
  }
}

.security-question-modal {
  .form-label {
    color: white;
    font-size: 18px;
    margin-top: 10px;
  }
}

.scrollable {
  overflow-x: auto;
  max-height: 60vh;
}

input.form-control {
  padding: 0 12px;
}

input.form-control,
textarea.form-control {
  font-family: "Lato", sans-serif;
}

input[type="password"]::placeholder {
  line-height: 32px;
}

input.form-control::placeholder,
textarea.form-control::placeholder {
  color: $light-gray;
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
}

.search-input.input-group {
  input {
    border-right-style: hidden;
  }

  input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  button {
    color: $primary-color;
    width: 50px;
    border-left-color: transparent;

    img {
      width: 25px;
      height: 16px;
      position: absolute;
      top: 6px;
      right: 8px;
    }
  }

  button:hover {
    background-color: white;

    img {
      color: white;
    }
  }
}

.text-hidden {
  font-size: 20px;
}

.divider {
  display: flex;
  flex-direction: row;
}

.divider:before,
.divider:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid $border-blue;
  margin: auto;
}

.divider:before {
  margin-right: 25px !important;
}

.divider:after {
  margin-left: 25px !important;
}

a:hover {
  text-decoration: none;
}

.form-control.is-invalid {
  border-color: $border-blue;
  background-image: url(/assets/red_alert.svg);
  background-size: 16px 16px;

  &:focus {
    border-color: $border-blue;
    box-shadow: none;
  }
}

.invalid-feedback,
.error {
  margin-left: 10px;
  padding-right: 10px;
  color: #ff0000;
  font-size: 14px;
  font-weight: bold !important;
  line-height: normal;
}

.invalid-feedback {
  text-align: right;
}

.text {
  font-weight: 300;
  font-size: 14pt;
}

.form-check-label {
  margin-left: 5px;
  line-height: 27px;
}

input[type="checkbox"] // input[type="radio"]

  {
  position: relative;
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $black;
  border: 1px solid $light-gray;
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  padding-bottom: 1px;
  bottom: 1px;

  &::before {
    content: "";
    height: 70%;
    width: 35%;
    border-style: solid;
    border-color: $white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
  }

  &:checked {
    color: $white;
    border-color: $primary-color;
    background: $primary-color;

    &::before {
      opacity: 1;
    }

    ~label::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
}

input[type="radio"] {
  position: relative;
  width: 1.4em;
  height: 1.4em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $black;
  border: 1px solid $primary-color;
  border-radius: 50%;
  appearance: none;
  outline: 0;
  cursor: pointer;

  &:checked {
    ~label {
      margin-top: 0px;
      margin-left: 3px;
      height: 25%;
      position: absolute;
      background-color: $primary-color;
      width: 60%;
      border-radius: 50%;
    }
  }
}

#general {

  .wrapper {
    box-shadow: $default-box-shadow;
    padding-left: 46px;
    padding-top: 30px;
    padding-right: 45px;

    h1 {
      text-transform: uppercase;
      font-family: $secondary-font-family;
      font-size: 30px;
      font-weight: 800;
      line-height: 1.27;
      color: $dark-gray;
      margin-bottom: 80px;
    }

    padding-bottom: 80px;

    .form-control,
    .invalid-feedback {
      max-width: 400px;
    }
  }
}

.dropdown-menu.show {
  margin-top: 1px;
  border-radius: $cta-panel-radius;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
  background-color: white;

  .dropdown-item {
    display: flex;
    align-items: center;
    font-family: $primary-font-family;
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    color: #282828;

    ~label {
      margin-top: 0px;
      margin-left: 3px;
      height: 25%;
      position: absolute;
      background-color: $primary-color;
      width: 60%;
      border-radius: 50%;
    }
  }
}

/* Custom scroll bar. Not supports in Firefox and IE */

/* total width */
::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: #ceced4;
  border-radius: 16px;
  border: 5px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a5a5ac;
  border: 4px solid #f4f4f4;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
  display: none;
}

//TODO: Remove when second release.
.breadcrumb {
  .active {
    color: transparent;
  }
}

// ------
