@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Open+Sans:wght@400;800&display=swap');


// Font variables
$title: (
  "font":"Open Sans",
  "type": sans-serif,
  "weight":800
);

$paragraph: (
  "font":"Lato",
  "type": sans-serif,
  "weight":400
);

@mixin font-style($type) {
  font-family: map_get($type, "font"), map_get($type, "type");
  font-weight: map_get($type, "weight");
}

// Headers
@for $i from 1 through 6 {
  h#{$i} {
    @include font-style($title)
  }
}

// Paragraphs, Labels, Links
label, p, a {
  @include font-style($paragraph);
}


html, body {
  height: 100%;
}

#sidebar, #content {
  height: 100vh;
}

.help {
  * {
    font-size: 45px;
    color: theme-color("dark");
  }
}

#sidebar {
  padding-top: 40px;
  padding-left: 60px;
  background: theme-color("dark");
  color: color("white");

  #title {
    margin-top: 50px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}

#navbar {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;

  #main-logo {
    width: 190px;
    height: 90px;
  }
}
