@import '../../../../scss/Variables/Colors.scss';

.card-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid rgba(6, 32, 46, 0.1);
  font-size: 0.875rem;
  color: $secondary-color;

  .name {
    font-weight: 300;
  }
}
