@import "../../../scss/Core.scss";

#profile-sidebar {
  background-color: #c2c2c2;

  a:hover {
    background-color: #808080;
  }

  a.active {
    background-color: #666666;
  }

  a li {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
