@import "../../../../scss/Core.scss";

#app-navbar {
  padding: 15px $panel-padding-right 15.5px $panel-padding-left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 12.5px 0 rgba(6, 32, 46, 0.1);
  height: 10vh;

  #main-logo {
    img {
      width: map_get($main-logo-size, width);
      height: map_get($main-logo-size, height);
    }

    img, .logo-divider {
      margin-right: 10px;
    }

    .app-name, .logo-divider {
      @include app-name;
    }
  }

  .items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;


    .notifications {
      img {
        width: map_get($item-size, width);
        height: map_get($item-size, height);
      }
    }

    .help-link {
      img {
        width: map_get($item-size, width);
        height: map_get($item-size, height);
      }
    }
  }
}
