#app-navbar {
  padding-top: 10px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0px -12px 21px 1px rgba(0, 0, 0, 0.4);

  >* {
    margin-right: 20px;
  }

  >:last-child {
    margin-right: 40px;
  }

}
