@import "../../../scss/Core.scss";

.p-card {
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 5px;
  box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;

  color: #ffffff;
  background-color: #07202E;

  p,
  h1 {
    margin-bottom: 0;
  }

  .p-card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px;

    .detail {
      display: flex;
      flex-direction: row;

      .info {
        p:first-of-type {
          font-size: 1.6em;
          font-weight: 600;
        }

        p:last-of-type {
          color: #c0c7ce;
          margin-top: -5px;
        }
      }

      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-right: 15px;
      }
    }

    .status {
      align-self: center;

      p {
        color: $primary-color;
        font-weight: bold;
        font-size: 1.2em;
      }
    }
  }
}
