@import "../../../scss/Core.scss";

.app-steps {
  .rc-steps-icon {
    .step-icon {
      width: 45%;
      height: 100%;
    }
  }

  .rc-steps-item-icon {
    background: #e9e9e9;
    border: 1px solid #e9e9e9;
    width: 99px;
    height: 99px;
    line-height: 26px;
    text-align: center;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 8px;
    transition: background-color 0.3s, border-color 0.3s;
    background: transparent;
    border: 4px solid $white-smoke;
  }

  .rc-steps-item-process .rc-steps-item-icon,
  .rc-steps-item-finish .rc-steps-item-icon {
    border: 4px solid $primary-color;

  }

  .rc-steps-item-tail {
    position: absolute;
    left: 0;
    width: 100%;
    top: 45px;
    padding: 0 10px;
    z-index: -1;
  }

  .rc-steps-item-tail {
    left: 70px;
    width: calc(100% - 120px);
  }

  .rc-steps-item-tail:after {
    border-radius: 15px;
    height: 12px;
    background-color: $white-smoke;
  }

  .rc-steps-item-finish .rc-steps-item-tail:after {
    background-color: $primary-color;
  }

  .rc-steps-item-title {
    font-size: 21px;
    color: black;
    text-transform: uppercase;
    font-weight: 800;
    font-family: "Open Sans";
    white-space: nowrap;
  }

  .rc-steps-item-content {
    display: flex;
    justify-content: center;

    .rc-steps-item-title {
      margin-left: 20px;
    }
  }
}
