@import "../../../scss/Variables/All.scss";

#verify-email-page {
  h1 {
    font-family: $secondary-font-family;
    font-size: 30px;
    font-weight: 800;
  }

  h2 {
    margin-bottom: 0;
  }

  .email-address {
    font-family: $secondary-font-family;
    font-size: 18px;
    font-weight: 800;
    color: $border-blue;
  }

  .p-style-lg {
    font-family: $primary-font-family;
    font-size: 14px;
    font-weight: 300;
    color: $dark-gray;
  }

  .button {
    border-radius: 25px;
    background-color: $border-blue;
  }

  .button-label {
    font-family: $primary-font-family;
    font-size: 12px;
    color: $white-smoke;
  }

  .p-style-md {
    font-family: $primary-font-family;
    font-size: 14px;
    font-weight: 300;
    color: #494949;
  }

  #main {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 60px;
    box-shadow: 0 6px 25px -8px rgba(6, 32, 46, 0.1);
    padding: 40px 30px;
  }
}
