@import "../../../scss/Auth";

#signup {
  .change {
    margin-bottom: 70px;
  }

  .form-group input {
    width: 400px;
    height: 34px;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
  }
}
