@import "../../../scss/Auth";
@import "../../../scss/Core";

#signup {
  .change {
    margin-bottom: 70px;
  }

  .form-group input {
    height: 34px;
    border-radius: $default-border-radius;
  }
}
