@import "../../../scss/Variables/Fonts";

#auth-sidebar {
  margin-top: 35%;
  padding-top: 30px;
  padding-left: 60px;

  h1 {
    font-family: $secondary-font-family;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: normal;
    color: #ffffff;
  }

  p {
    font-size: 14px;
    letter-spacing: -0.38px;
    color: #ffffff;
    font-family: $primary-font-family;
    font-weight: normal;
    line-height: 1.43;
    text-align: justify;
  }

}
