@import "../../../scss/Core.scss";


.modal-dialog {
  &.tier-modal {
    max-width: 70%;
  }

  .modal-content {
    padding: 30px 20px !important;

    .modal-body {

      p,
      a {
        opacity: 1;
        font-family: $primary-font-family;
        font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.81;
        letter-spacing: -0.44px;
        text-align: justify;
        color: white;
      }

      a {
        text-decoration: underline;
        font-weight: bold;
        letter-spacing: -0.64px;
        color: $primary-color;
      }

      p {
        margin-bottom: 20px;
      }

      b {
        font-weight: bold;
      }
    }
  }

  .modal-footer {
    padding-top: 30px;
    justify-content: flex-start;
  }
}


.tier-selection {
  max-height: 50vh;

  .tiers {
    margin: 10px 150px 132px 50px;

    .tier {
      width: 400px;
      height: 448px;
      border-radius: 12px;
      box-shadow: $default-box-shadow;
      padding-top: 30px;
      padding-bottom: 30px;

      .tier-title {
        margin-left: 45px;

        h2 {
          text-transform: uppercase;
          font-family: $secondary-font-family;
          font-size: 30px;
          font-weight: 800;
          line-height: 1.83;
          color: $primary-color;
        }

        .subtitle {
          margin-top: -35px;
          color: #03121a;
        }
      }

      ul {
        margin-top: 20px;

        li {
          list-style-type: none;
          font-family: $secondary-font-family;
          color: $secondary-color;
          font-size: 14px;
          font-weight: 300;
          margin-bottom: 20px;
        }

        li:before {
          content: '\2014';
          position: absolute;
          margin-left: -20px;
        }
      }

      .cta {
        font-family: $primary-font-family;
        color: $primary-color;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.38px;

        margin-top: -10px;
        margin-left: 26px;
      }

      .terms-checkbox {
        margin-top: 30px;
        margin-left: 18px;

        input {
          width: 16px;
          height: 16px;
          position: relative;
          top: 1px;
        }

        p,
        a {
          font-family: $primary-font-family;
          font-size: 14px;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: $secondary-color;
        }

        a {
          color: $primary-color;
        }
      }

      button:not(.cta) {
        margin-top: 10px;
        margin-left: 40px;
        background-color: $dark-gray;
        border-color: $dark-gray;
        width: 130px;
        color: white;
      }
    }

    .custom-tier {
      background-color: $dark-blue;

      .tier-title>.subtitle,
      ul>li {
        color: white;
      }

      button:not(.cta) {
        position: relative;
        left: 0;
        top: 67px;
        background-color: $primary-color;
        border-color: $primary-color;
      }
    }
  }
}
