@import "../../../scss/Core.scss";

.modal-dialog {
  &.tier-modal {
    max-width: 950px;

    .modal-content {
      padding: 0 40px 0 60px !important;

      .modal-header {
        padding: 1.25rem 0.5rem;

        .close {
          position: absolute;
          padding: 16px 0 40px 0;
          margin: 0;
          top: -5px;
          right: -15px;
        }
      }

      .modal-body {
        padding: 10px 0 0 0;

        h4 {
          margin-bottom: 20px;
        }

        p,
        a {
          opacity: 1;
          font-family: $primary-font-family;
          font-size: 16px;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.81;
          letter-spacing: -0.44px;
          text-align: justify;
          color: white;
        }

        a {
          text-decoration: underline;
          font-weight: bold;
          letter-spacing: -0.64px;
          color: $primary-color;
        }

        p {
          margin-bottom: 30px;
        }

        .subtitle {
          margin-bottom: 0;
        }

        b {
          font-weight: bold;
        }
      }
    }

    .modal-footer {
      padding: 15px 0 30px 0;
      justify-content: flex-start;

      .btn {
        margin-left: 0;
      }
    }
  }
}

.tier-selection {
  width: calc(100% - 15px);

  .page-title {
    .info {
      line-height: normal;
    }
  }

  .tiers {
    margin-top: 24px;

    .tier {
      width: 400px;
      height: 448px;
      border-radius: 12px;
      box-shadow: $default-box-shadow;
      padding: 30px 0 0 20px;
      margin-right: 14px;

      .tier-title {
        margin-left: 18px;

        h2 {
          text-transform: uppercase;
          font-family: $secondary-font-family;
          font-size: 30px;
          font-weight: 800;
          line-height: 1;
          color: $primary-color;
          margin-bottom: 0;
        }

        .subtitle {
          color: #03121a;
        }
      }

      ul {
        margin-top: 25px;
        margin-bottom: 0;
        padding-inline-start: 20px;

        li {
          list-style-type: none;
          font-family: $secondary-font-family;
          color: $secondary-color;
          font-size: 14px;
          font-weight: 300;
          margin-bottom: 20px;
        }

        li:before {
          content: "\2014";
          position: absolute;
          margin-left: -20px;
        }
      }

      ul li:last-child {
        margin-bottom: 10px;
      }

      .cta {
        font-family: $primary-font-family;
        color: $primary-color;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.38px;
        margin-left: 8px;
      }

      .terms-checkbox {
        margin-top: 25px;
        margin-bottom: 26px;

        span,
        a {
          font-family: $primary-font-family;
          font-size: 14px;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: $secondary-color;
        }

        a {
          color: $primary-color;
        }
      }

      button:not(.cta) {
        margin-top: 10px;
        margin-left: 20px;
        background-color: $dark-gray;
        border-color: $dark-gray;
        width: 130px;
        color: white;
      }
    }

    .custom-tier {
      background-color: $dark-blue;
      margin-right: 0;
      margin-left: 14px;

      .tier-title > .subtitle,
      ul > li {
        color: white;
      }

      button:not(.cta) {
        position: relative;
        left: 0;
        top: 67px;
        background-color: $primary-color;
        border-color: $primary-color;
      }
    }
  }
}
