@import "../../../scss/Variables/Fonts";
@import "../../../scss/Variables/Others";

.p-badge {
  height: 110px;
  border-radius: $panel-radius;
  -webkit-box-shadow: $default-box-shadow;
  -moz-box-shadow: $default-box-shadow;
  box-shadow: $default-box-shadow;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 25px;

  h2 {
    font-family: $default-font-family;
    font-size: 24px;
    color: $primary-color;
    font-weight: bold;
    margin-bottom: 4px;
    letter-spacing: -0.66px;
  }

  p {
    font-family: $default-font-family;
    font-size: 14px;
    color: #888888;
    font-weight: 300;
    letter-spacing: -0.38px;
    margin-bottom: 0;
  }
}
