@import "../../../scss/Core.scss";

.p-badge {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 15px 53px -26px rgba(33, 33, 33, .1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;

  h1 {
    margin-bottom: 0;
    color: $primary-color;
  }

  p {
    font-weight: 300;
    margin-bottom: 0;
    font-size: 1.2em;
  }
}
