@import "../../../scss/Core.scss";

.p-badge {
  margin: 10px;
  padding: 10px;
  border-radius: $panel-radius;
  -webkit-box-shadow: $default-box-shadow;
  -moz-box-shadow: $default-box-shadow;
  box-shadow: $default-box-shadow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;

  h2 {
    margin-bottom: 0;
    color: $primary-color !important;
    font-weight: 700;
    font-family: "Lato";
  }

  p {
    font-weight: 300;
    margin-bottom: 0;
    font-size: 1.2em;
    color: gray;
  }
}
