@import "../../../scss/Core";

.payment-history {
  .download-invoice {
    width: 100%;
    height: 100%;
  }
  .link {
    max-width: 35px;
    background-color: transparent;
    border-color: transparent;
    font-weight: 300;
    color: $primary-color;
    cursor: pointer;
    margin-right: 5px;

    &:hover {
      background-color: transparent;
      border-color: transparent;
      color: $primary-color;
    }

    &:focus {
      background-color: transparent;
      border-color: transparent;
      color: $primary-color;
    }

    &:not(:disabled):not(.disabled):active {
      background-color: transparent;
      border-color: transparent;
      color: $primary-color;
    }
  }
  .filters {
    display: flex;
    justify-content: space-around;

    .filter {
      margin-right: 20px;

      p {
        margin-bottom: 0;
        font-size: 1.2em;
        margin-right: 10px;
      }
    }

    .filter.search {
      flex-grow: 2;
    }
  }

  .label-text {
    font-weight: 700;
    margin-top: 10px;
    margin-right: 15px;
    color: $primary-color;
  }

  .export {
    cursor: pointer;
    color: $primary-color;

    img {
      height: 25px;
    }

    &:hover {
      img {
        filter: contrast(10%);
      }
    }
  }

  .app-table {
    box-shadow: none;
  }

  .app-table tbody tr td div {
    height: inherit;
  }

  .react-bootstrap-table-pagination {
    button {
      width: 40px;
      margin-top: 20px;
      display: inline;
      margin-left: 5px;
    }
  }
}
