@import "../../../../../scss/Variables/DefaultLayout";

.notifications {
  .badge {
    background-color: $badge-background-color;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    position: relative;
    top: -6px;
    right: 13px;

    font-family: $primary-font-family;
    font-size: 9px;
    color: #ffffff;
  }

  .dropdown-item {
    display: flex;
    align-items: center;
  }
}

.notification {
  margin-left: 15px;

  p {
    margin-bottom: 0;
  }
}
