#dashboard {
  .dropdown.cta {
    button {
      padding-left: 150px;
      border-right: 1px solid #ffffff;
    }

    .dropdown-item {
      padding-right: 130px;
    }

    button.dropdown-toggle {
      border-left: 1px solid #ffffff;
    }
  }
}
