#dashboard {
  .alert {
    padding-top: 30px;
    padding-bottom: 25px;
    padding-left: 25px;
  }

  .dropdown.cta {
    button {
      border-right: 1px solid #ffffff;
    }

    button.dropdown-toggle {
      border-left: 1px solid #ffffff;
    }
  }

  .table {
    max-height: 55vh;
    overflow-y: scroll;
  }
}
