@import "../../scss/Core";

#dashboard {
  .cta-buttons {
    .dropdown.cta {
      button {
        width: 80px;
        height: 33px;
        display: flex;
        justify-content: center;
        padding: 0;

        span {
          font-family: $primary-font-family;
          font-size: 13px;
          line-height: 31px;

          svg {
            color: white;
            margin-left: 5px;
            font-size: 8px;
          }
        }
      }

      button::after {
        display: none;
      }

      .dropdown-item:hover {
        background-color: transparent;
      }
    }
  }

  .stats {
    padding-top: 30px;
    display: flex;
    flex-direction: row;

    .stat-column {
      min-width: 168px;
      padding: 0 6px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .network-status-tables {
    .network-status-table {
      padding: 0;
    }

    .network-status-tables-row {
      .network-status-table {
        &:nth-child(odd) {
          padding-right: 7px;
        }

        &:nth-child(even) {
          padding-left: 7px;
        }
      }
    }
  }
}
