.import {
  .upload-btn {
    min-width: 140px;
  }

  .address {
    margin-left: 50px;
    margin-left: 20px;
    font-size: 1.2em;
  }

  .invalid-acount {
    padding-right: 155px !important;
    padding-top: 30px;
  }

  .upload-key {
    white-space: nowrap;
    padding: 3px 25px;

    span {
      font-size: 12px;
    }
  }
}
