#import-app {
  p.sub {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0;
  }

  #head {
    h1 {
      font-size: 2em;
    }
  }

  .import-input {
    input {
      height: calc(1.5em + 1rem + 18px);
    }


  }

  .alert {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
  }
}
