@import "../../../scss/Core.scss";

#nodes-checkout {
  .header {
    padding-left: 35px;
    padding-right: 35px;

    h1 {
      text-transform: uppercase;
      font-family: $secondary-font-family;
      color: $form-label-font-color;
      font-size: 30px;
      font-weight: 800;
    }

    p {
      font-family: $primary-font-family;
      color: $dark-gray;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: normal;
      margin-bottom: 0;
    }
  }


  h2 {
    text-transform: uppercase;
    font-family: $secondary-font-family;
    color: $title-secondary-color;
    font-size: 18px;
    font-weight: bold;
    line-height: 2.11;
    letter-spacing: -0.49px;
  }


  .segment {
    padding: 35px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: $default-box-shadow;

    hr {
      background-color: $light-gray;
    }
  }

  .cta {
    width: auto;
  }

  .title-page h3 {
    font-size: 18px;
    margin-left: 25px;
  }

  .app-steps {
    .rc-steps-item-title {
      white-space: pre-wrap;
      margin-top: 10px;
    }

    .rc-steps-item-custom:nth-of-type(2) {
      .rc-steps-item-title {
        white-space: pre;
      }
    }
  }

  .invoice {
    padding-left: 0;
    padding-right: 0;
  }

  .field {
    display: flex;
    justify-content: space-between;

    &:first-of-type {
      margin-top: 30px;
    }

    p {
      font-size: 16px;
      color: #656565;
    }

    p:last-of-type {
      font-size: 14px;
      font-weight: 300;
    }
  }

  .print {
    padding: 0;
  }

  .invoice {
    h2 {
      color: $dark-gray;
      font-size: 21px;
      font-weight: 800;
    }

    .label.total p {
      font-weight: 700;
      color: #06202E;
      font-family: "Open Sans";
      font-size: 18px;
    }

    .detail {
      color: $light-gray;
      font-family: "Open Sans";
      font-size: 18px;
      font-weight: 700;
    }

    .label {
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .print {
    font-size: 16px;
    font-family: $primary-font-family;
    color: $dark-gray;
    font-weight: 300;
    letter-spacing: normal;

    .link {
      font-weight: 300;
      color: $primary-color;
      cursor: pointer;
    }

    .link:hover {
      color: $primary-color-darker;
    }
  }
}
