@import "../Core.scss";

.detail {

  .head {
    display: flex;
    align-items: center;
    margin-left: -16px;
    margin-bottom: 10px;

    // Free tier badge
    .badge {
      font-family: $primary-font-family;
      font-weight: 400;
      font-size: 12px;
      text-align: center;
      text-transform: capitalize;

      border-radius: 25px;
      background-color: $white-smoke;

      width: 80px;
      height: 26px;

      margin-left: 12px;
    }

    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      box-shadow: 0 0 10px rgba(33, 33, 33, 0.25);
      background-color: white;

      margin-top: -35px;
      margin-right: 20px;
    }

    h1 {
      font-family: $secondary-font-family;
      color: $primary-color;
      font-size: 30px;
      font-weight: 800;
      line-height: 1.83;

      margin-bottom: -25px;
    }

    h3 {
      font-family: $secondary-font-family;
      font-size: 22px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.5;
      letter-spacing: normal;
      color: $dark-blue;

      margin-bottom: -13px;
    }

    h1,
    h3 {
      text-transform: uppercase;
    }

    p {
      font-family: $primary-font-family;
      font-size: 18px;
      font-weight: 300;
      color: $secondary-color;
    }
  }

  button {
    width: 85px;
  }

  .page-title {

    h1 {
      font-family: $secondary-font-family;
      font-size: 22px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.73;
      letter-spacing: -0.6px;
      color: $secondary-color;
    }
  }

  .stats {
    margin-top: 25px;
    margin-left: -30px;
  }

  .unstaking-time {
    margin-top: 5px;
    font-size: 0.75em;
    font-weight: 400;
    text-transform: uppercase;
  }

  .app-segment {
    margin-left: -15px;

    .head {
      h2 {
        margin-left: 58px;
      }
    }
  }

  .item-data {
    margin-top: 32px;
    margin-left: -35px;

    div.alert.alert-light {
      box-shadow: none;

      font-family: $primary-font-family;
      font-size: 13px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $secondary-color;
    }
  }

  .page-title {
    h2 {
      font-family: $secondary-font-family;
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $secondary-color;

      margin-left: 42px;

    }
  }

  #aat-info {
    margin-left: -15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      display: flex;

      p {
        font-weight: bold;
        margin-top: 5px;
        margin-left: 10px;
        margin-bottom: 0;
      }
    }
  }

  .aat-code {
    margin-left: -20px;
    padding-left: 36px;
    box-shadow: none;

    pre {
      display: flex;
      justify-content: space-between;
      padding-top: 10px;
      padding-left: -10px;

      code {
        font-family: "Poppins", sans-serif;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.33px;
        color: #888888;
      }
    }
  }

  .free-tier-contact-info {
    height: 210px;
    border-radius: 4px;
    margin-top: 8px;

    padding-top: 25px;
    padding-left: 30px;

    box-shadow: $default-box-shadow;

    div {
      margin-bottom: 50px;
    }

  }

  .free-tier-contact-info h3,
  .contact-info h2 {
    text-transform: uppercase;
    font-family: $secondary-font-family;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $secondary-color;
  }

  .free-tier-contact-info span,
  .contact-info p {
    font-family: $primary-font-family;

    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $secondary-color;
  }

  .contact-info {
    margin-top: 25px;

    div {
      margin-left: -8px;
    }

    div:last-of-type {
      margin-left: 0;
    }

    .contact {
      padding-top: 15px;
      padding-left: 28px;
      height: 86px;
    }
  }

  .action-buttons {
    margin-top: 30px;
    margin-left: -26px;

    div {
      margin-right: -25px;
    }

    .option {

      img {
        width: 20px;
        height: 20px;

        margin-right: 7px;
      }

      a,
      p {
        display: inline;
        font-family: $primary-font-family;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: -0.38px;
        color: $secondary-color;
      }

      a,
      .link {
        color: $primary-color;
        cursor: pointer;
      }
    }
  }
}

.modal-dialog {
  &.app-modal {
    max-width: 680px;
  }

  .modal-content {
    button.close {
      padding-bottom: 40px;
      padding-right: 0;
    }

    padding: 10px 0px 20px 40px !important;
    background-color: $form-label-font-color !important;

    .modal-body {
      padding-right: 60px;
      opacity: 1;
      font-family: $primary-font-family;
      font-size: 18px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.39;
      letter-spacing: normal;
      color: white;
    }
  }

  .modal-footer {
    padding-top: 20px;
    justify-content: flex-start;

    button {
      width: 97px;
      margin-right: 18px;
    }

    .dark-button {
      background-color: $dark-blue;
      border: solid 1px #25a9e0;
    }
  }
}
