@import "../Core";

.main {
  .page-title {
    h1 {
      color: $title-secondary-color;
    }
  }

  .stats {
    margin-top: 2.5rem;

    .p-badge {
      height: 100px;
    }

    .info-card-column {
      padding: 0 9px;

      &:first-child {
        padding-left: 0;
      }
    }
  }

  .cta-buttons {
    .create-app-button {
      background-color: $dark-gray;
      border-color: $dark-gray;
      width: 140px;

      &.btn-primary {
        &:active {
          background-color: $dark-gray;
          border-color: $dark-gray;
        }
      }
    }

    .import-app-button {
      width: 115px;
    }

    .create-node-button {
      width: 145px;
    }

    .import-node-button {
      width: 120px;
    }
  }

  .app-table {
    &.loading {
      margin-bottom: 20px;
    }
  }

  .app-tables {
    .search-panel {
      button {
        width: 30px;
      }
    }

    .search-panel-without-items {
      display: none;
    }

    .my-items-segment {
      padding: 0 9px;

      &:first-child {
        padding-left: 0;
      }

      .app-segment {
        .head {
          h2 {
            margin-left: 20px;
          }
        }

        .body {
          padding: 20px;
          overflow-x: hidden;
        }
      }
    }
  }
}
