@import "../../../scss/Core.scss";

.choose-chains {
  .page-title {
    h2 {
      font-family: $secondary-font-family;
      color: $title-secondary-color;
      font-size: 22px;
      font-weight: bold;
      line-height: 1.73;
      letter-spacing: -0.6px;

      margin-bottom: 60px;
      padding-left: 22px;
    }

    p {
      font-size: 16px;
      font-weight: 300;
    }

    button {
      margin-right: 50px;
    }
  }

  .app-segment {
    margin-top: -40px;

    .search-panel {
      margin-left: -34px;
      width: 650px;

      button {
        width: 30px;

        img {
          left: -12px;
        }
      }
    }

    .body {
      padding-left: 0;
      padding-bottom: 0;

      .app-table {
        thead {
          margin-left: 0;
        }

        tbody {
          padding-left: 0;
        }

        .selection-cell-header {
          padding: 0;
          width: 36px;
          border-bottom-color: transparent;

          input[type="checkbox"] {
            position: absolute;
            top: 30px;
            left: 53px;
          }
        }

        .selection-cell {
          padding-left: 37px;
          padding-right: 0px;
          padding-top: 10px;
          width: 1px;
          border-bottom-color: transparent;
        }

        tbody tr td:nth-of-type(2),
        th:nth-of-type(2) {
          padding-left: 0px;
        }
      }
    }
  }

  .service-url-label {
    font-size: 16px;
  }
}
