@import "../../../scss/Core.scss";

#choose-chains {
  margin-top: 10px;
  margin-left: 20px;

  h1,
  h2 {
    text-transform: uppercase;
  }

  h2 {
    color: $dark-gray;
  }

  .info {
    p {
      font-size: 1.2em;
      font-weight: 300;
    }
  }

  .title {
    display: flex;
    justify-content: space-between;

    button {
      align-self: center;
    }
  }

  button {
    font-weight: bold;
  }
}
