@import "../../../scss/Core.scss";

.choose-chains {

  .page-title {
    h2 {
      font-family: $secondary-font-family;
      color: $title-secondary-color;
      font-size: 22px;
      font-weight: bold;
      line-height: 1.73;
      letter-spacing: -0.6px;
    }

    p {
      font-size: 16px;
      font-weight: 300;
    }

    button {
      margin-right: 50px;
    }
  }

  .app-segment {
    margin-top: -40px;

    .search-panel {
      margin-left: -15px;
      width: 606px;

      button {
        width: 30px;

        img {
          left: -12px;
        }
      }
    }

    .body {
      margin-left: -20px;
      max-height: 50vh;
    }
  }
}
