@import "../../../scss/Core.scss";

.app-table {
  cursor: pointer;

  thead {
    background-color: theme-color("dark");
    color: #ffffff;
    border: 2px solid transparent;

    th:first-child {
      border-top-left-radius: 10px;
      border-top-color: transparent;
    }

    th:last-child {
      border-top-right-radius: 10px;
      border-top-color: transparent;
    }
  }

  .active {
    background-color: rgba(0, 0, 0, 0.075);
  }

}
