@import "../../../scss/Core.scss";

#order-summary {
  .payment-method-column {
    padding-right: 9px;
    padding-left: 0;

    .card-form-title {
      margin-bottom: 10px;
    }
  }

  .review-order-column {
    padding-right: 0;
    padding-left: 9px;
  }

  .cards-container,
  .review-order-container {
    border-radius: $table-radius;
    box-shadow: $default-box-shadow;
    padding: 45px 20px;
  }

  h1 {
    text-transform: uppercase;
    font-family: $secondary-font-family;
    color: $secondary-color;
    font-size: 30px;
    font-weight: 800;
    line-height: 1.27;
    letter-spacing: -0.82px;
  }

  h2.sub {
    text-transform: uppercase;
    font-family: $secondary-font-family;
    color: $secondary-color;
    font-size: 18px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    margin-bottom: 0;
  }

  h5 {
    font-family: $primary-font-family;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.38px;
    color: $primary-color;
  }

  .card-form-title {
    font-family: $primary-font-family;
    color: $dark-gray;
    font-size: 16px;
    font-weight: 300;
    line-height: 2.38;
    letter-spacing: -0.44px;
    margin-bottom: 0;
  }

  .cards {
    max-height: 375px;
    overflow-y: auto;
    margin-bottom: 25px;
  }

  .p-badge {
    background-color: #06202e;
    border-radius: 15px;
    margin: 0;

    h2 {
      font-family: $primary-font-family;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: -0.82px;
      text-align: center;
      color: $primary-color;
      margin-bottom: 0;
    }

    p {
      color: white;
      font-size: 16px;
    }
  }

  .order {
    padding-left: 15px;

    .item {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 20px;

      span:first-of-type {
        font-family: $primary-font-family;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: -0.38px;
        color: #888888;
      }

      span:last-of-type {
        color: $primary-color;
        font-size: 1.5rem;
        font-weight: 700;
        text-align: right;
      }
    }

    .item:last-child {
      margin-bottom: 25px;
    }
  }

  hr {
    height: 2px;
    border-width: 2px;
    border-color: #f5f5f5;
  }

  .form-check {
    .form-check-label {
      span {
        font-family: $primary-font-family;
        font-size: 0.875rem;
        font-weight: 300;
        line-height: normal;
        color: $dark-gray;
      }
    }
  }

  .new-card-btn {
    background-color: transparent;
    border-color: transparent;
    font-size: 0.875rem;
    font-weight: bold;
    color: $primary-color;
  }

  .agree-terms {
    line-height: 0;
    padding-bottom: 0;
    bottom: 0;

    .form-check-label {
      line-height: 16px;
    }
  }

  .terms-link {
    font-size: 0.875rem;
    font-weight: 300;
    color: $primary-color;
    margin-left: 22px;
  }

  .payment-container {
    [class*="col-md"] {
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .payment-method {
    max-width: 70%;
    display: flex;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(6, 32, 46, 0.1);

    .payment-radio-input {
      width: 16px;
      height: 16px;
      margin-top: 2px;

      input[type="radio"] {
        width: 16px;
        height: 16px;
        margin-right: 0;
      }

      .form-check-label {
        display: none;
      }

      &.checked {
        .form-check-label {
          display: block;
          width: 75%;
          height: 75%;
          margin-left: 2px;
        }
      }
    }

    .card-display {
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: unset;
    }
  }

  .confirm {
    width: 146px;
    margin-top: 20px;
  }
}
