@import "../../../scss/Core.scss";

#order-summary {

  .cards {
    height: 25vh;
    overflow-x: auto;
  }

  .p-badge {
    background-color: $dark-blue;
    border-radius: 15px;
    margin: 0;

    h2 {
      font-size: 2.2em;
    }

    p {
      color: white;
    }
  }

  .order {
    padding-left: 30px;

    .item {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 25px;

      p:first-of-type {
        color: $dark-gray;
      }

      p:last-of-type {
        color: $primary-color;
        font-size: 1.8em;
        font-weight: 700;
      }
    }
  }

  .form-check-label {
    p {
      font-size: 1.1em;
      font-weight: 300 !important;
      margin-top: 2px;
    }
  }

  .payment-method {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(90, 90, 90, 0.1);

    .card-display {
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: unset;
    }

    .custom-radio {
      align-self: center;
      margin-bottom: 20px;
    }
  }

  .payment-method:last-of-type {
    border-bottom: unset;
  }

}
