@import "../../../scss/Core.scss";

#order-summary {

  h1 {
    text-transform: uppercase;
    font-family: $secondary-font-family;
    color: $secondary-color;
    font-size: 30px;
    font-weight: 800;
    line-height: 1.27;
    letter-spacing: -0.82px;
  }

  h2.sub {
    text-transform: uppercase;
    font-family: $secondary-font-family;
    color: $secondary-color;
    font-size: 22px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
  }

  h5 {
    font-family: $primary-font-family;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.38px;
    color: $primary-color;
  }

  .card-form-title {
    font-family: $primary-font-family;
    color: $dark-gray;
    font-size: 16px;
    font-weight: 300;
    line-height: 2.38;
    letter-spacing: -0.44px;
    margin-bottom: 0;
  }

  .agree {
    font-family: $primary-font-family;
    font-size: 14px;
    color: $dark-gray;

    &,
    a {
      font-weight: 300;
    }
  }

  .cards {
    height: 25vh;
    overflow-x: auto;
  }

  .p-badge {
    background-color: #06202e;
    border-radius: 15px;
    margin: 0;

    h2 {
      font-family: $primary-font-family;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: -0.82px;
      text-align: center;
      color: $primary-color;
    }

    p {
      color: white;
      font-size: 16px;
    }
  }

  .order {
    padding-left: 15px;

    .item {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      p {
        margin-bottom: 10px;
      }

      p:first-of-type {
        font-family: $primary-font-family;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: -0.38px;
        color: #888888;
      }

      p:last-of-type {
        color: $primary-color;
        font-size: 1.8em;
        font-weight: 700;
      }
    }
  }

  .form-check-label {
    p {
      font-size: 1.1em;
      font-weight: 300 !important;
      margin-top: 2px;
    }
  }

  .payment-method {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(90, 90, 90, 0.1);

    .card-display {
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: unset;
    }

    .custom-radio {
      align-self: center;
      margin-bottom: 20px;
    }
  }

  .payment-method:last-of-type {
    border-bottom: unset;
  }

  .confirm {
    width: auto;
  }
}
