@import "../../../scss/Core.scss";
@import "../../../scss/Variables/Fonts.scss";
@import "../../../scss/Variables/Colors.scss";

#forgot-password-page {
  #main {
    width: 650px;
    margin: 0 auto;

    #email-label {
      font-family: $primary-font-family;
      font-size: 14px;
      font-weight: 300;
      color: $form-label-font-color;
    }
  }

  .title-password {
    font-family: $secondary-font-family;
    font-size: 30px;
    font-weight: 800;
    line-height: 1.27;
    color: $dark-gray;
    text-transform: uppercase !important;
  }

  .passwordLabel {
    font-family: $primary-font-family;
    font-size: 16px;
    font-weight: 300;
    color: $dark-gray;
  }

  .passwordInput {
    border-radius: 21px !important;
    border-style: solid !important;
    border-width: 1px !important;
  }

  .resetButton {
    border-radius: 25px;
    background-color: $primary-color;
  }

  .resetButtonText {
    font-family: $primary-font-family;
    font-size: 12px;
    color: #ffffff;
  }
}
