#app-created {

  h1,
  h2 {
    font-size: 2em;
  }

  .info {

    p {
      font-size: 1.3em;
      margin-bottom: 0;
    }

    .alert {
      padding-top: 25px;
      padding-bottom: 25px;
      padding-left: 30px;
    }
  }

  button {
    font-weight: bolder;
    padding-right: 50px;
    padding-left: 50px;
  }
}
