@import "../../../scss/Variables/Colors.scss";

$payment-input-colors: (
  border: #ced4da
);

.payment-container {
  .payment-input {
    height: 32px;
    border: 1px solid map_get($payment-input-colors, border);
    border-radius: 0.25rem;
    padding: 8px 12px;
  }
}

