@import "../../../scss/Core";

#app-passphrase {
  .page-title {
    h1 {
      color: $title-secondary-color;
    }

    h2 {
      margin-top: 40px;
      margin-bottom: 5px;
    }

    p {
      font-size: 0.875rem;
      font-weight: normal;
      color: #474747;
    }
  }

  h3 {
    text-transform: uppercase;
    font-family: $secondary-font-family;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $form-label-font-color;
  }

  div.alert.alert-warning {
    margin-bottom: 2rem;
    padding-left: 20px;

    h4 {
      font-family: $secondary-font-family;
      font-size: 18px;
      font-weight: 800;
      line-height: 1.22;
    }

    p {
      font-family: $primary-font-family;
      font-size: 14px !important;
      font-weight: bold;
      letter-spacing: -0.38px;
      color: white;
    }
  }

  .row {
    div {
      padding-left: 0;
    }
  }

  input:read-only {
    background-color: white;
  }

  .inputs-row-read-only {
    margin-top: 20px;

    .read-only-with-icon-column {
      input {
        width: 94%;
      }
    }
  }

  .toggle-icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin: 8px 0 18px 10px;
  }

  form.create-passphrase-form {
    display: inline;

    .show-passphrase {
      display: flex;

      .form-group {
        flex-grow: 2;

        .text-hidden {
          font-size: 20px;
        }
      }
    }

    button.download-key-file-button {
      width: 168px;

      span {
        img {
          width: 18px;
          height: 18px;
          margin-right: 8px;
        }
      }
    }
  }

  .stats {
    margin-top: 2rem;
  }

  .app-networks {
    h2 {
      margin-left: 20px;
    }

    .app-segment {
      .body {
        height: 50px;
        overflow: hidden;

        .table {
          thead {
            th {
              font-size: 14px;
              color: $secondary-color;
            }
          }
        }
      }
    }
  }
}
