@import "../../../scss/Core.scss";

.label-dropdown {
  @include bordered-layout;
  display: inline;

  * {
    display: inline;
  }

  #label {
    margin-bottom: 0;
    margin-right: 18px;
    font-weight: bold;
  }

  .icon {
    position: absolute;
    margin-top: 5px;
  }
}

.label-dropdown:hover {
  text-decoration: none;
  background-color: aliceblue;
}
